alabaster==0.7.12
asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
charset-normalizer==2.0.1
click==7.1.2
colorama==0.4.4
con==1.0.1
cycler==0.10.0
docutils==0.17.1
et-xmlfile==1.1.0
fastapi==0.65.2
Flask==1.1.2
gunicorn==20.0.4
h11==0.12.0
idna==3.2
imagesize==1.2.0
imbalanced-learn==0.8.0
imblearn==0.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
latexmk.py==0.4
MarkupSafe==1.1.1
matplotlib==3.4.2
nltk==3.6.2
numpy==1.20.2
openpyxl==3.0.7
packaging==21.0
pandas==1.2.4
Pillow==8.2.0
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pydantic==1.8.2
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.26.0
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==4.1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.14.2
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
waitress==2.0.0
Werkzeug==1.0.1
xlrd==2.0.1
